@import "../base/mixin";

/* Estilos del Footer*/
footer{
    .redes{
        color: white;
        text-decoration: none;
        background-color: $color-principal ;
        display: flex;
        display: inline-block;
        margin: 15px;
        padding: 5px;
        border: solid blanchedalmond; 
        border-radius: 1em / 2em ;
        justify-content: center 
            
    }
}